/* google font */


@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Dancing+Script&family=PT+Sans+Caption:wght@400;700&family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.arrangemanet-compo{
     padding: 80px 0;
     background: #F4F3F3;
}
.little-title{
     font-family: 'Dancing Script', cursive;
     font-size: 30px;
}
.tour-text-wrapper {
     margin-top: 60px;
 }

.tour-title {
     font-family: 'Bebas Neue', cursive;
     color: #4B4A4A;
     font-weight: bolder;
     margin-top: 13px;
     font-size: 44px;
 }
 h3.planner-text {
     margin: 20px 0;
 }

 p.planner-para {
     font-size: 17px;
     color: gray;
 }

 button.more-btn {
     border: none;
     background: #1a1a1b;
     color: white;
     padding: 2px 25px;
     border-radius: 26% 74% 24% 76% / 100% 0% 100% 0%;
 }